<!DOCTYPE html>
<html>
<head>
  <title><%= product.name %></title>
  <% include ../partials/head.ejs %>
</head>
<body>
<div class="container">
  <% include ../partials/nav.ejs %>
  <div class="col-md-12">
        <div class="panel panel-grey post panel-shadow">
          <div class="post-heading">
            <div class="pull-left image">
              <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
            </div>
            <div class="pull-left meta">
              <div class="title h5">
                <a href="#">creado por <b><%= product.author.username %></b></a>
              </div>
              <h6 class="text-muted time">1 minute ago</h6>
            </div>
          </div>
          <div class="post-description">
            <p>nombre: <%= product.name %></p>
            <p><%= product.description %></p>
            <!--<div class="stats">-->
              <!--<a href="#" class="btn btn-default stat-item">-->
                <!--<i class="fa fa-thumbs-up icon"></i>2-->
              <!--</a>-->
              <!--<a href="#" class="btn btn-default stat-item">-->
                <!--<i class="fa fa-share icon"></i>12-->
              <!--</a>-->
            <!--</div>-->
          </div>
          <div class="post-footer">
            <% if (userId) {%>
            <div class="input-group">
              <input type="hidden" id="p_id" value="<%= product.id %>" >
              <input type="hidden" id="author" value="<%= userId%>">
              <input class="form-control" placeholder="Agregar comentario" type="text" name="body" id="body">
                    <span class="input-group-addon">
                        <a onclick="saveComment()"><i class="glyphicon glyphicon-floppy-disk"></i></a>
                    </span>
            </div>
            <%}%>
            <ul class="comments-list">
              <% for(var i = 0; i< product.comments.length; i++){ %>
              <li class="comment">
                <a class="pull-left" href="#">
                  <img class="avatar" src="http://bootdey.com/img/Content/user_1.jpg" alt="avatar">
                </a>
                <div class="comment-body">
                  <div class="comment-heading">
                    <h4 class="user"><%= product.comments[i].author.username %></h4>
                    <h5 class="time">5 minutes ago</h5>
                    <a onclick="removeComment('<%= product.comments[i].id %>')"><span class="glyphicon glyphicon-remove" aria-hidden="true"/></a>
                    <a onclick="editCommentToggle('<%= product.comments[i].id %>')"><span class="glyphicon glyphicon-pencil" aria-hidden="true"/></a>
                  </div>
                  <div class="comment-content" id="commentContent">
                    <p id="commentP<%= product.comments[i].id %>"><%= product.comments[i].body %></p>
                    <div id="commentE<%= product.comments[i].id%>" class="input-group" style="display: none">
                      <input class="form-control input-sm" placeholder="Editar comentario" type="text" id="body<%= product.comments[i].id%>" value="<%= product.comments[i].body %>">
                       <span class="input-group-addon">
                        <a onclick="editComment('<%= product.comments[i].id %>')"><i class="glyphicon glyphicon-floppy-disk"></i></a>
                    </span>
                    </div>

                  </div>
                </div>
              </li>
              <% } %>
            </ul>
          </div>
        </div>
  </div>
  <% include ../partials/footer.ejs %>
  <% include ../partials/scripts.ejs %>
</div>
</body>

<script>
  function removeComment(id){
    $.ajax({
      data: {id: id},
      url: '/product/comment/delete?_method=DELETE',
      type: 'post',
      timeout: 1000,
      success:  function (response) {
        location.reload();
      }
    });
  }

  function saveComment(){
    $.ajax({
      data: {
        p_id: $("#p_id").val(),
        author: $("#author").val(),
        body: $("#body").val()
      },
      url: '/product/comment/new',
      type: 'post',
      timeout: 1000,
      success:  function (response) {
        location.reload();
      }
    });
  }
  function editComment(id) {
    $.ajax({
      data: {
        c_id: id,
        body: $("#body"+id).val()
      },
      url: '/product/comment/?_method=PUT',
      type: 'post',
      timeout: 1000,
      success:  function (response) {
        location.reload();
      }
    });
  }

  function editCommentToggle(id){
    $("#commentP"+id).toggle();
    $("#commentE"+id).toggle();
  }
</script>
</html>
