<!DOCTYPE html>
<html>
<head>
  <title><%= product.name %></title>
  <% include ../partials/head.ejs %>
</head>
<body>
<div class="container">
  <% include ../partials/nav.ejs %>
  <div class="row prod">
    <div class="col-xs-offset-1 col-xs-4 item-photo">
      <img style="max-width:100%;" src="<%= product.img%>" onerror="this.src='/images/img-not-found02.jpg'" />
    </div>
    <div class="col-xs-5" style="border:0px solid gray">
      <!-- Datos del autor y titulo del producto -->
      <h3><%= product.name %></h3>
      <div class="create-by">
        <div class="pull-left image">
          <img src="<%= product.author.avatar %>" class="img-circle avatar" alt="user profile image">
        </div>
        <div class="pull-left meta">
          <h5>creado por <strong><%= product.author.username %></strong></h5>
          <h6 class="text-muted time">1 minute ago</h6>
        </div>
        <!--<h5>creado por <strong><%= product.author.username %></strong> </h5> · <h6 class="text-muted time">1 minute ago</h6>-->
      </div>


      <!-- Precios -->
      <h6 class="title-price"><small>PRECIO</small></h6>
      <h3 style="margin-top:0px;">$  <%= product.price %></h3>

      <!-- Detalles especificos del producto -->
      <div class="section">
        <h6 class="title-attr" style="margin-top:15px;" ><small>DESCRIPCION</small></h6>
        <div>
          <div class="attr"><%= product.description %></div>
        </div>
      </div>
    </div>

    <!-- Comentarios -->
    <div class="col-xs-offset-1 col-xs-9">
      <div class="section-comment" style="width:100%;border-top:1px solid silver">
        <div class="post-footer">
          <% if (user) {%>
          <div class="input-group">
            <input type="hidden" id="p_id" value="<%= product.id %>" >
            <input type="hidden" id="author" value="<%= user.id%>">
            <input class="form-control add-comment" placeholder="Agregar comentario" type="text" name="body" id="body">
                    <span class="input-group-addon">
                        <a onclick="saveComment()"><i class="glyphicon glyphicon-floppy-disk"></i></a>
                    </span>
          </div>
          <%}%>
          <ul class="comments-list">
            <% for(var i = 0; i< product.comments.length; i++){ %>
            <li class="comment">
              <a class="pull-left" href="#">
                <img class="avatar" src="<%= product.comments[i].author.avatar %>" alt="avatar">
              </a>
              <div class="comment-body">
                <div class="comment-heading">
                  <h4 class="user"><%= product.comments[i].author.username %></h4>
                  <h5 class="time">5 minutes ago</h5>
                  <a class="c-b" onclick="removeComment('<%= product.id %>' , '<%= product.comments[i].id %>')"><span class="glyphicon glyphicon-remove" aria-hidden="true"/></a>
                  <a class="c-b" onclick="editCommentToggle('<%= product.comments[i].id %>')"><span class="glyphicon glyphicon-pencil" aria-hidden="true"/></a>
                </div>
                <div class="comment-content" id="commentContent">
                  <p id="commentP<%= product.comments[i].id %>"><%= product.comments[i].body %></p>
                  <div id="commentE<%= product.comments[i].id%>" class="input-group" style="display: none">
                    <input class="form-control input-sm" placeholder="Editar comentario" type="text" id="body<%= product.comments[i].id%>" value="<%= product.comments[i].body %>">
                       <span class="input-group-addon">
                        <a onclick="editComment('<%= product.comments[i].id %>')"><i class="glyphicon glyphicon-floppy-disk"></i></a>
                    </span>
                  </div>

                </div>
              </div>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <% include ../partials/footer.ejs %>
  <% include ../partials/scripts.ejs %>
</div>
</body>

<script>
  function removeComment(id, c_id){
    $.ajax({
      data: {
        c_id: c_id,
        _method: 'DELETE'
      },
      url: '/product/' + id + '/comment/',
      type: 'post',
      timeout: 1000,
      success:  function (response) {
        location.reload();
      }
    });
  }

  function saveComment(){
    $.ajax({
      data: {
        p_id: $("#p_id").val(),
        author: $("#author").val(),
        body: $("#body").val()
      },
      url: '/product/'+ $("#p_id").val() +'/comment/new',
      type: 'post',
      timeout: 1000,
      success:  function (response) {
        location.reload();
      }
    });
  }
  function editComment(id) {
    $.ajax({
      data: {
        id: $("#p_id").val(),
        c_id: id,
        body: $("#body"+id).val(),
        _method: 'PUT'
      },
      url: '/product/' + $("#p_id").val() + '/comment/',
      type: 'post',
      timeout: 1000,
      success:  function (response) {
        location.reload();
      }
    });
  }

  function editCommentToggle(id){
    $("#commentP"+id).toggle();
    $("#commentE"+id).toggle();
  }

  <% if(user){%>
  $(".c-b").removeClass('disabled');
  $(".c-b").unbind('click', false);
  <%}else{%>
  $(".c-b").addClass('disabled');
  $(".c-b").bind('click', false);
  <%}%>


</script>
</html>
